<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xCodeClazz | API</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1 class="main">Welcome to xcodeclazz API</h1>
    <p class="sub">Owned by RAISEHAND SOFTWARE PRIVATE LIMITED company</p>
    <p>- What are the purpose of this api</p>
    <ul>
        <li>Provide Respective Language Compilers</li>
    </ul>
</body>

</html>